body, html {
	height: 100vh;
	width: 100vw;
	font-family: 'Lato', sans-serif, Arial, sans-serif;
	color: white;
	/*background-image: url("../images/background.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;
}

/* - Header - */
/* Select element to choose camera */
.chooseCamera { 
	border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/

	position: absolute;
	top: 5px;
	left: 65px;
	background-color: #969696;
	border-radius: 0;
	padding: 2px;
	color: white;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #969696;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* Space to display an error */
#error {
	position: absolute;
	top: 0px;
	left: 40%;
	font-weight: bold;
	height: 34px;
	display: none;
}
#error img {
	height: 34px;
}


/* - Video - */
#videoContainer {
	width: 100vw;
	height: 90vh;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.videoElement {
	width: 80vw;
	max-height: 90vh;
	margin: auto !important;
	display: block;
}

/*.square {
	position: absolute;
	top: 200px;
	left: 60px;

	z-index: 2;
	display: none;

	border: 3px solid #c33c3c;
}
*/
.square {
	position: absolute;
	z-index: 2;

	border: 3px solid #c33c3c;
}
.images{
	width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
