include ./header.jade

.contain
    .loading
        .timer 0
        video(autoplay="true", class="videoElement")

#paysage
    .droite
        .emotions.center
            .face-happy
                img.face(src="/images/in-love (1).png")
            .face-neutral
                img.face(src="/images/neutral (1).png") 
            .face-sad
                img.face(src="/images/angry (1).png")
        .results.center
            img.face.result(src="")
            p(class='text') Nous avons détecté l'émotion :
            .text-result
            button(class="validate" class="button-feedback") Envoyer le feedback
        .avis.center
            button(class="capture") Capture
            button(class="button-start") Donnez votre avis

#portrait
    #bas
        .emotions.center
            .face-happy
                img.face(src="/images/in-love (1).png")
            .face-neutral
                img.face(src="/images/neutral (1).png") 
            .face-sad
                img.face(src="/images/angry (1).png")
        .results.center
            img.face.result(src="")
            #text
                p(class='text') Nous avons détecté l'émotion :
                .text-result
                button(class="validate" class="button-feedback") Envoyer le feedback
        .avis.center
            button(class="button-start") Donnez votre avis
 