/* * * * * * * * * * * * *\
 *        GENERAL        *
\* * * * * * * * * * * * */
body,html {
	height: 100vh;
	width: 100vw;
	font-family: 'Lato', sans-serif, Arial, sans-serif;
	color: black;
	/*background-color: white;*/
	/*background-image: url("../images/background.jpg");*/
	background-image: url("../images/smarties-991229_1920.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/* -- Page element -- */

.loading {
	position: relative;
    text-align: middle;
    display: flex;
    width: 100%;
}

.capture {
	display: none;
}

/* -- During capture -- */
.select {
	opacity: 1 !important;
}

.unselect {
	opacity: 0.2 !important;
}


.timer {
	position: absolute;
	z-index: 300;
	top: 50%;
	left: 50%;
	width: 4%;
	height: 4%;
	color: white;
	text-shadow: 2px 0 2px black, -2px 0 2px black, 0 2px 2px black, 0 -2px 2px black, 1px 1px black, -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black;
	font-size: 2em;
}


.spinner {
	color: white;
	width: 10%;
}

.text {
	text-align: center;
	text-transform: uppercase;
	color: whitesmoke;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.text-result {
	font-size: 1.2em;
	color: #fff1f1;
	font-size: 1.5em;
}

.button-feedback {
	border: none;
	background-color: #e01e26;
	color: white;
	border: 2px solid #ca1b22;
	text-transform: uppercase;
	/*margin-right: 15px;*/
	margin: auto !important;
	display: block;
	font-size: 1.3em;
}

.emotions {
	margin-right: 15px;
}

.button-start {
  background-color: #e01e26;
  border: 2px solid #ca1b22;
  /*margin: auto 15px auto auto; */
  padding: 30px 0 30px 0; 
  letter-spacing: 0.03em;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 8px black;
  box-shadow: 0px 0px 20px 2px black;
}

.droite {
	height: 100vh;
	display: flex;
}


.row {
	margin: 0;
}

.flex {
	display: flex;
}

.center {
	margin: auto;
}

/* * * * * * * * * * * * *\
 *       PORTRAIT        *
\* * * * * * * * * * * * */
@media screen and (orientation:portrait) {
	#portrait {
		display: block;
	}
	#paysage {
		display: none;
	}

	.container {
	    margin: 0px auto;
	    width: 100vw !important;
	    /*height: auto;*/
	    display: flex;
	}


	.videoElement {
	    max-height: 70vh;
	    width: 100vw;
	    position: relative;
	    margin-bottom:  0;
	    box-shadow: 0 0 10px 7px rgba(27, 8, 8, 0.5)
	    margin: auto;
	}

	.face {
		/*display: block;*/
		/*margin-top: 2% !important;*/
		max-height: 30vh;
		width: auto;
		padding: 20%;
		/*opacity: 0.5;*/
		float: left;
	}	
	.face.result {
		padding: 5%;
	}

	#bas {
		height: 30vh;
	}

	.emotions {
		height: 30vh;
	}
	.video {
		height: 70vh;
	}
	.avis {
	  display: flex; /* contexte sur le parent */
	  height: 30vh;
	}
	.button-start {
	  margin: auto auto auto auto; 
	}

	.results {
		height: 100%;
	}
	#text {
		height: 100%;
		display: block;
		margin: auto;
	} 

}

/* * * * * * * * * * * * *\
 *       LANDSCAPE       *
\* * * * * * * * * * * * */
@media screen and (orientation:landscape) { 
	#portrait {
		display: none;
	}
	#paysage {
		display: block;
		width: 20vw;
		float: right;
	} 
	.loading {
		position: relative;
	    text-align: middle;
	    display: flex;
	    width: 80vw;
	    height: 100vh;
	}

	.container {
	    margin: 0px auto;
	    width: 100% !important;
	    height: 100vh !important;
	    display: flex;
	}

	.videoElement {
	    width: 78vw;
	    position: relative;
	    margin-bottom:  0;
	    box-shadow: 0 0 10px 7px rgba(27, 8, 8, 0.5)
	    margin: auto;
	    float: left;
	    height: auto;
	}

	.face {
		/*display: block;*/
		margin-top: 2% !important;
		width: 100%;
		padding: 20%;
		/*opacity: 0.5;*/
	}

	.droite {
		float: right;
		
	}
	.avis {
	  display: flex; /* contexte sur le parent */
	  height: 100vh;
	}
	.button-start {
	  margin: auto 15px auto auto; 
	}
	.contain {
		float: left;
		height: 100vh;
	}
	.emotions {
		width: 20vw;
	}
}